<section class="advertisement">
  <div class="advertisement-container container">
    <div class="advertisement-container-into">
      <h2 class="visually-hidden">advertisement</h2>
      <div class="advertisement-list">
        <p class="advertisement-text">
          Choose <span class="advertisement-text-color">your story</span>,
          making every moment unique. Time is your style, and we reveal it.
        </p>
        <a href="#advertisement-contact-step" class="advertisement-button"
          >Contact Us</a
        >
      </div>
    </div>
  </div>
</section>
