<contaier>
   <div class="catalog">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-item">
              <picture>
                <source srcset="">
                <source srcset="">
                <source srcset="">
                    <img class="catalog-image"
                     srcset="" src="" alt=""
                     width="">
              </picture>
                <h3 class="catalog-subtitle"> Garmin Fenix 7X Pro Sapphire Solar </h3>
                <p class="catalog-text">€500</p>
        
            </li>
        </ul>
        <button class="catalog-btn">Show more</button>
   </div>
</contaier>