<!-- contact-us -->

<section class="contact-us-section">

    <div class="container contact-us-container">

        <h2 class="contact-us-title" id="contact-us">Contact Us</h2>
        <div class="contact-us-large-field">
            <div class="contact-us-social">
                <p class="contact-us-text">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
                <form class="contact-us-form">
                    <div class="contact-us-field">
                        <label class="contact-us-form-label" for="user-name"></label>
                        <div class="contact-us-input">
                            <input class="contact-us-form-input" type="text" name="user-name" id="user-name" required placeholder="Name"/>
                       </div>
                    </div>
         
                    <div class="contact-us-field">
                       <label class="contact-us-form-label" for="email"></label>
                       <div class="contact-us-input">
                           <input class="contact-us-form-input" type="text" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" name="email" id="email" required placeholder="Email"/>
                       </div>
                  </div>  
         
                    <div class="contact-us-field">
                       <label class="contact-us-form-label" for="tel"></label>
                       <div class="contact-us-input">
                           <input class="contact-us-form-input" type="text" pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$" name="tel" id="tel" required placeholder="+380"/>
                      </div>
                   </div>
                   
                    <div class="contact-us-field">
                       <label class="contact-us-form-label" for="user-comment"></label>
                       <textarea class="contact-us-user-comment" name="user-comment" id="user-comment" placeholder="Comment"></textarea>
                    </div>
               </form>
               <button class="contact-us-button" type="submit">Send</button>
           </div>
           <div class="contact-us-picture">
              <picture>
                  <source srcset="/img/contact-us/contact-ds-1x.jpg 1x,
                  /img/contact-us/contact-ds-2x.jpg 2x" media="(min-width: 1280px)">
                  <source srcset="/img/contact-us/contact-tab-1x.jpg 1x,
                  /img/contact-us/contact-tab-2x.jpg 2x" media="(min-width: 768px)">
                  <source srcset="/img/contact-us/contact-mob-1x.jpg 1x,
                  /img/contact-us/contact-mob-2x.jpg 2x" media="(max-width: 375px)">
                  <img class="contact-us-image" src="/img/contact-us/contact-ds-1x.jpg" alt="Clock on the stone"/>
              </picture>
           </div>
        </div>
    </div>
</section>
