<div class="footer">
  <ul class="footer-ul">
    <li class="footer-li">
      <a href="" class="footer-link">
        <svg class="footer-icon" width="24" height="24">
          <use href="/img/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="footer-li">
      <a href="" class="footer-link">
        <svg class="footer-icon" width="24" height="24">
          <use href="/img/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="footer-li">
      <a href="" class="footer-link">
        <svg class="footer-icon" width="24" height="24">
          <use href="/img/symbol-defs.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="footer-li">
      <a href="" class="footer-link">
        <svg class="footer-icon" width="24" height="24">
          <use href="/img/symbol-defs.svg#icon-x-mob"></use>
        </svg>
      </a>
    </li>
    <li class="footer-li">
      <a href="" class="footer-link">
        <svg class="footer-icon" width="24" height="24">
          <use href="/img/symbol-defs.svg#icon-mob-menu"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
