<footer class="footer">
 <div class="container footer-container">
<div class="footer-section-one">
    <div class="footer-logo-media-wrapper">
      <a class="footer-logo item-one" href=".index/html">watchcharm</a>
      <div class="footer-media-wrapper">
        <ul class="footer-media-list item-two">
          <li class="footer-media-item">
            <a href="https://www.facebook.com/goITclub/" class="footer-media-link">
              <svg class="footer-icon" width="18" height="18">
                <use href="/img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-media-item">
            <a href="https://www.instagram.com/goitclub/" class="footer-media-link">
              <svg class="footer-icon" width="18" height="18">
                <use href="/img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-media-item">
            <a href="https://www.youtube.com/c/GoIT" class="footer-media-link">
              <svg class="footer-icon" width="18" height="18">
                <use href="/img/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <a class="footer-tel item-three" href="tel:+380684439426">+380 (68) 443-94-26</a>
    <p class="footer-text item-four">
      Have the time of your life with our watches: where high-class craftsmanship meets impeccable design
    </p>
</div>
  <div class="footer-nav-wrapper">
    <nav class="footer-nav">
    <ul class="footer-menu-list">
       <li class="footer-menu-item">
        <a class="footer-menu-link" href="./index.html">Home</a></li> 
       <li class="footer-menu-item">
        <a class="footer-menu-link" href="./index.html">About Us</a></li>
      <li class="footer-menu-item">
        <a class="footer-menu-link" href="./index.html">Catalog</a></li>
        <li class="fofooter-menu-item">
          <a class="footer-menu-link" href="./index.html">Sale</a></li> 
         <li class="footer-menu-item">
          <a class="footer-menu-link" href="./index.html">Reviews</a></li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="./index.html">Contact Us</a></li>
    </ul>  
  </nav>
    <address class="footer-address">1678 S. Pioneer Road Salt Lake City UT 84104</address>
  </div>
  <div class="footer-policy-wrapper">
    <p class="footer-policy-text">
      &copy;2023 The Watch Spot. All rights reserved.
    </p>
   <ul class="footer-policy-list">
    <li class="footer-policy-item">
      <a class="footer-policy-link" href="./index.html">Terms of Service</a></li>
    <li class="footer-policy-item">
      <a class="footer-policy-link" href="./index.html">Privacy Policy</a></li>
   </ul>
  </div>
</div>
</footer>

