<section class="hero" id="hero">
    <div class="container hero-container">
        <div class="hero-title-text">
<h1 class="hero-title">
Welcome to our <span class="hero-color">collection</span> of premium watches
</h1>
<p class="hero-text">
Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to
modern ones, we have a watch to suit every taste and occasion.
</p>
</div>

<div class="hero-img-button">
    <ul class="hero-icons">
        <li class="icon1-hero">
            <img class="hero-img"
            srcset="/img/hero/hero-3-1x.png, /img/hero/hero-3-2x.png"
             src="/img/hero/hero-3.png"
             alt="hero-3"
             width="44"
             height="44">
        </li>

        <li class="icon2-hero">
            <img class="hero-img"
             srcset="/img/hero/hero-2-1x.png, /img/hero/hero-2-2x.png"
              src="/img/hero/hero-2.png" 
              alt="hero-2"
                 width="44" height="44">
        </li>
            <li class="icon2-hero">
                <img class="hero-img"
                srcset="/img/hero/hero-1-1x.png, /img/hero/hero-1-2x.png"
                 src="/img/hero/hero-1.png"
                  alt="hero-1"
                  width="44" height="44">
            </li>
    </ul>
<a class="hero-button" href="#footer">Scroll down</a>
</div>

<img class="hero-rectangle"
srcset="/img/hero/rectangle-1x.jpg 1x, /img/hero/rectangle-2x.jpg 2x"
 src="/img/hero/rectangle-1x.jpg"
  alt="rectangle">
</div>
</section>