<section class="sale">
  <div class="container sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrapper">
      <div class="sale-carousel">
        <ul class="sale-contant">
          <li class="sale-contant-item">
            <img
              class="sale-contant-image-mob"
              src="/img/sale/sale-1-mob-1x.png"
              srcset="
                /img/sale/sale-1-mob-1x.png 1x,
                /img/sale/sale-1-mob-2x.png 2x
              "
              alt="Gallery watch 1 of 4"
            />
            <img
              class="sale-contant-image-tab"
              src="/img/sale/sale-1-tab-1x.png"
              srcset="
                /img/sale/sale-1-tab-1x.png 1x,
                /img/sale/sale-1-tab-2x.png 2x
              "
              alt="Gallery watch 1 of 4"
            />
          </li>
          <li class="sale-contant-item">
            <img
              class="sale-contant-image-mob"
              src="/img/sale/sale-2-mob-1x.png"
              srcset="
                /img/sale/sale-2-mob-1x.png 1x,
                /img/sale/sale-2-mob-2x.png 2x
              "
              alt="Gallery watch 2 of 4"
            />
            <img
              class="sale-contant-image-tab"
              src="/img/sale/sale-2-tab-1x.png"
              srcset="
                /img/sale/sale-2-tab-1x.png 1x,
                /img/sale/sale-2-tab-2x.png 2x
              "
              alt="Gallery watch 2 of 4"
            />
          </li>
          <li class="sale-contant-item">
            <img
              class="sale-contant-image-mob"
              src="/img/sale/sale-3-mob-1x.png"
              srcset="
                /img/sale/sale-3-mob-1x.png 1x,
                /img/sale/sale-3-mob-2x.png 2x
              "
              alt="Gallery watch 3 of 4"
            />
            <img
              class="sale-contant-image-tab"
              src="/img/sale/sale-3-tab-1x.png"
              srcset="
                /img/sale/sale-3-tab-1x.png 1x,
                /img/sale/sale-3-tab-2x.png 2x
              "
              alt="Gallery watch 3 of 4"
            />
          </li>
          <li class="sale-contant-item">
            <img
              class="sale-contant-image-mob"
              src="/img/sale/sale-4-mob-1x.png"
              srcset="
                /img/sale/sale-4-mob-1x.png 1x,
                /img/sale/sale-4-mob-2x.png 2x
              "
              alt="Gallery watch 4 of 4"
            />
            <img
              class="sale-contant-image-tab"
              src="/img/sale/sale-4-tab-1x.png"
              srcset="
                /img/sale/sale-4-tab-1x.png 1x,
                /img/sale/sale-4-tab-2x.png 2x
              "
              alt="Gallery watch 4 of 4"
            />
          </li>
        </ul>
        <div class="sale-main-contant">
          <img
            class="sale-main-image-mob"
            src="/img/sale/sale-5-mob-1x.png"
            srcser="/img/sale/sale-5-mob-1x.png 1x, /img/sale/sale-5-mob-2x.png 2x"
            alt="Commander (Gen 2) - Carbon Edition"
          />
          <img
            class="sale-main-image-tab"
            src="/img/sale/sale-5-tab-1x.png"
            srcser="/img/sale/sale-5-tab-1x.png 1x, /img/sale/sale-5-tab-2x.png 2x"
            alt="Commander (Gen 2) - Carbon Edition"
          />
        </div>
      </div>
      <div class="sale-review">
        <h3 class="sale-subtitle">MARQ® Commander (Gen 2) - Carbon Edition</h3>
        <p class="sale-text">Product tag: 706587</p>
        <div class="sale-price">
          <span class="sale-current">€1500</span>
          <span class="sale-original">€3000</span>
        </div>
        <p class="sale-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-items">
          <li class="sale-items-descr">Fused carbon fiber</li>
          <li class="sale-items-descr">Grade-5 Titanuim</li>
          <li class="sale-items-descr">Athlete</li>
          <li class="sale-items-descr">Golfer</li>
          <li class="sale-items-descr">Commander</li>
          <li class="sale-items-descr">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
