.about-us {
    margin-bottom: 60px;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us-box {
    max-width: 335px;
    background-color: #F3F3F3;
    border-radius: 30px;

}

.about-us-title {
    margin-top: 40px;
    margin-bottom: 28px;
    margin-left: 20px;
}

.about-us-text {
    max-width: 295px;
    margin-bottom: 20px;
    margin-left: 20px;

}

.about-us-btn-link {
    display: inline-block;
    padding: 15px 37px 15px 38px;
    background-color: #3350E9;
    color: #FBFBFB;
    text-align: center;
    width: 160px;
    height: 48px;
    border-radius: 16px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
}

.about-us-btn-link:hover,
.about-us-btn-link:focus {
    background-color: #1F3CD4;
}

.about-us-img-box {
    overflow: hidden;
    border-radius: 30px;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .about-us-container {
        gap: 40px;
    }

    .about-us-box {
        max-width: 704px;
    }

    .about-us-title {
        margin: 80px 60px;
        font-weight: 600;
        font-size: 48px;
        line-height: 0.92;
        margin-bottom: 40px;
    }

    .about-us-text {
        max-width: 584px;
        margin-left: 60px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
    }

    .about-us-btn-link {
        margin-top: 40px;
        margin-left: 60px;
        margin-bottom: 80px;
    }
  }

@media screen and (min-width: 1280px) {
    .about-us {
        margin-bottom: 100px;
    }

    .about-us-container {
        /* width: 1280px;
        padding: 0px 65px;
        display: flex; */
        flex-direction: row;
        /* gap: 40px; */
    }

    .about-us-box {
        max-width: 460px;

    }

    .about-us-text {
        max-width: 460px;
    }

    .about-us-btn-link {
        margin-top: 20px;
    }

    .about-us-img-box {
        margin: 0 auto;
    }
}