.advertisement {
    margin-bottom: 60px;
}

.advertisement-container-into {
    max-width: 335px;
    padding: 60px 28px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #0c0c0c;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url(/img/advertisement/advertisement-mob-1x.jpg);
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .advertisement-container-into {
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/img/advertisement/advertisement-mob-2x.jpg);
    }
}

.advertisement-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 32px;
}

.advertisement-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    color: #fbfbfb;
    margin-bottom: 28px;
}

.advertisement-text-color {
    color: rgba(251, 251, 251, 0.5);
}

.advertisement-button {
    min-width: 160px;
    padding: 16px 43px  16px 44px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;

    border: 1px solid rgba(251, 251, 251, 0.15);
    background-color: transparent;
    border-radius: 16px;
}

.advertisement-button:hover {
    color: #0c0c0c;
    background-color: #fbfbfb;
}


@media screen and (min-width: 768px) {
    .advertisement {
        margin-bottom: 80px;
    }
    
    .advertisement-container-into {
        max-width: 704px;
        padding: 80px 64px;

        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
            url(/img/advertisement/advertisement-tab-1x.jpg);
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .advertisement-container-into {
            background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/img/advertisement/advertisement-tab-2x.jpg);
        }
    }

    .advertisement-text {
        font-size: 48px;
        line-height: 0.92;
        color: rgb(251, 251, 251);
    }

}

@media screen and (min-width: 1280px) {
    .advertisement {
        margin-bottom: 100px;
    }
    
    .advertisement-container-into {
        max-width: 1150px;
        padding: 83px 80px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
            url(/img/advertisement/advertisement-ds-1x.jpg);
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .advertisement-container-into {
            background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/img/advertisement/advertisement-ds-2x.jpg);
        }
    }

    .advertisement-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 140px;
    }

}