/* .container {
} */

/* .contact-us-container {
} */

/* .contact-us-large-field {
} */

@media screen and (min-width: 768px) {
    .contact-us-large-field {
        width: 704px;
        height: 1236px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-us-large-field {
        padding: 0px 65px;
        width: 1280px;
        height: 640px;
        display: flex;
        flex-direction: row;
    }
}

.contact-us-title {
    margin-bottom: 24px;
    /* margin-left: 20px; */
}

@media screen and (min-width: 768px) {
    .contact-us-title {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-us-title {
        margin-bottom: 40px;
        margin-left: 65px;
    }
}

.contact-us-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius: 30px;
    padding: 48px 28px;
    width: 335px;
    height: 512px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .contact-us-social {
        border-radius: 50px;
        padding: 50px 122px;
        width: 704px;
        height: 556px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-us-social {
        border-radius: 50px;
        width: 580px;
        height: 556px;
        margin-right: 40px;
    }
}

.contact-us-text {
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .contact-us-text {
        margin-bottom: 32px;
        width: 460px;
        height: 300px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-us-text {
        margin-bottom: 32px;
        width: 460px;
        height: 300px;
    }
}


.contact-us-form {
    /* width: 279px; */
    /* height: 264px; */
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .contact-us-form {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-us-form {
        margin-bottom: 32px;
    }
}

.contact-us-field {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: auto; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us-form-label {
font-weight: 400;
font-size: 14px;
line-height: 1.28;
display: block;
margin-bottom: 18px; 
color: #0c0c0c;
}

.contact-us-input {
    margin-bottom: 18px; 
    /* position: relative; */
}

.contact-us-form-input {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 226px 12px 14px;
    width: 279px;
    height: 42px;
    background-color: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
    .contact-us-form-input {
        padding: 16px 315px 16px 16px;
        width: 460px;
        height: 52px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-us-form-input {
        padding: 16px 315px 16px 16px;
        width: 460px;
        height: 52px;
    }
}


.contact-us-form-input:hover,
.contact-us-form-input:focus {
    border-color: #3350E9; 
}

.contact-us-user-comment {
    /* margin-bottom: 28px; */
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 136px 54px 14px;
    width: 279px;
    height: 84px;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: #0c0c0c;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .contact-us-user-comment {
        padding: 16px 315px 54px 16px;
        width: 460px;
        height: 90px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-us-user-comment {
        padding: 16px 315px 54px 16px;
        width: 460px;
        height: 90px;
    }
}

.contact-us-user-comment:hover,
.contact-us-user-comment:focus {
    border-color: #3350E9; 
}

.contact-us-button {
    background-color: #3350e9;
    border-radius: 16px;
    padding: 12px 50px;
    width: 134px;
    height: 42px;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #fbfbfb;
    cursor: pointer;
    display: block;
    border: none;
    margin-bottom: 48px;
    margin-left: 0;
    margin-top: 28px;
    margin-right: 145px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .contact-us-button {
      padding: 17px 63px;
      width: 160px;
      height: 52px;
      /* margin-left: 122px; */
      margin-top: 32px;
      margin-right: 300px;
      margin-bottom: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-us-button {
      padding: 17px 63px;
      width: 160px;
      height: 52px;
      margin: 60 px 32px 300px 50px;
      /* margin-left: 60px;
      margin-top: 32px;
      margin-right: 300px;
      margin-bottom: 50px; */
    }
}

/* .contact-us-button-field {
    justify-content: left;
    align-items: center;
} */

.button:hover,
.button:focus {
    background-color: #3350E9; 
}


.contact-us-picture {
   
    border-radius: 30px;
    width: 335px;
    height: 512px;
    margin-bottom: 60px;
    background: url("path_to_image");
}

@media screen and (min-width: 768px) {
    .contact-us-picture {
        border-radius: 50px;
        width: 704px;
        height: 556px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-us-picture {
        border-radius: 50px;
        width: 530px;
        height: 556px;
    }
}

/* .contact-us-image {
    background: url("path_to_image");
    display: block;
} */