.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 203px;

}

.header-logo {

  font-size: 16px;
  color: #0c0c0c;
  /* padding: 6px 0; */

}

.header-nav-list {
  display: none;
}

.header-socials-list {
  display: none;
}

.menu-open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  line-height: 0;
  background-color: transparent;
  border: none;
}

.backdrop-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
  z-index: 999;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-overlay {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  padding: 20px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #0C0C0C;
  background-image: linear-gradient(rgba(12, 12, 12, 0.92), rgba(12, 12, 12, 0.92)),
    url(/img/header/bg-hed-mob-1x.jpg);

  /* transform: translateX(100%); */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn:active .backdrop-menu {
  transform: translateX(0);
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .menu-overlay {
    background-image: linear-gradient(rgba(12, 12, 12, 0.92), rgba(12, 12, 12, 0.92)),
      url(/img/header/bg-hed-mob-2x.jpg);
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-nav {
  text-align: center;
}

.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;

  margin-left: auto;

  background-color: transparent;
  border: none;
}

.menu-close-icon {
  fill: #fbfbfb;
}

.menu-nav-item {
  display: block;
  position: relative;
  margin-bottom: 24px;

}

/* .menu-nav-item:not(:last-child) {
  margin-bottom: 24px;
} */

.menu-nav-item:hover::after,
.menu-nav-item:active::after {
  content: '';
  position: absolute;

  top: calc(100% + 4px);
  left: calc(50% - 4px);
  bottom: 0;

  width: 8px;
  height: 8px;
  background-color: #3350E9;
  border-radius: 100%;
}

.menu-nav-link {
  display: block;
  text-align: center;
  color: rgba(251, 251, 251, 0.8);
  text-decoration: none;
  font-style: normal;
}

.menu-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.menu-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;

}

.menu-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent
}

.menu-socials-icon {
  fill: rgba(251, 251, 251, 0.8);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-socials-item:hover .menu-socials-icon,
.menu-socials-item:active .menu-socials-icon {
  fill: #fbfbfb;
}



@media screen and (min-width: 768px) {

  .header-container {
    max-width: 768px;
    padding: 26px 32px;
  }

  .header-logo {
    font-size: 20px;
    padding: 6px 0 6px 0;
  }

  .menu-icon {
    width: 40px;
    height: 40px;
  }

  .menu-overlay {
    background-image: linear-gradient(rgba(12, 12, 12, 0.92), rgba(12, 12, 12, 0.92)),
      url(/img/header/bg-hed-tab-1x.jpg);
    width: 330px;
    padding: 26px 32px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .menu-overlay {
      background-image: linear-gradient(rgba(12, 12, 12, 0.92), rgba(12, 12, 12, 0.92)),
        url(/img/header/bg-hed-tab-2x.jpg);
    }
  }

  .menu-close-btn {
    width: 40px;
    height: 40px;
  }


  .menu-close-icon {
    width: 20px;
    height: 20px;
  }

  .menu-nav-item {
    margin-bottom: 32px;
  }

  .menu-socials-list {
    padding-bottom: 24px;
  }

  .menu-socials-item {
    width: 40px;
    height: 40px;
  }

  .menu-socials-icon {
    width: 20px;
    height: 20px;
  }

}

@media screen and (min-width: 1280px) {



  .header-container {
    max-width: 1280px;
    padding: 24px 65px;
  }

  .header-logo {
    padding: 8px 0 8px 0;

  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .header-nav-link {
    display: block;
    padding: 4px 0 14px 0;
    text-align: center;
    color: #0c0c0c;

    text-decoration: none;
    font-style: normal;


  }

  .header-item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-item:hover::after,
  .header-item:active::after,
  .header-item:focus-within::after {
    content: '';
    position: absolute;

    top: calc(100% - 12px);
    left: calc(50% - 4px);
    bottom: 0;

    width: 8px;
    height: 8px;
    background-color: #3350E9;
    border-radius: 100%;
  }

  .header-socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }

  .header-socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
  }

  .header-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent
  }

  .header-socials-icon {
    fill: #0C0C0C;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-socials-item:hover .header-socials-icon,
  .header-socials-item:focus-within .header-socials-icon {
    fill: #3350E9;
  }

  .header-socials-item:hover,
  .header-socials-item:focus {
    border-color: rgba(51, 80, 233, 0.1);
  }

  .menu-open-btn {
    display: none;
  }

  .backdrop-menu {
    display: none;
  }
}