@media screen and (max-width: 374px), screen and (min-width: 375px) {
  .hero-container {
    color: #ffffff;
  }

  .hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-top: 60px;
  }

  .hero-color-text {
    color: #3350e9;
  }

  .hero-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-top: 20px;
  }

  .hero-scroll-container {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .hero-icons {
    display: flex;
    flex-direction: row;
  }

  .icon1-hero {
    position: relative;
  }

  .icon2-hero {
    position: relative;
    right: 8px;
  }

  .icon3-hero {
    position: relative;
    right: 16px;
  }

  .hero-images {
    width: 44px;
    height: auto;
  }

  .hero-scroll-down {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-decoration: underline;
    color: #0c0c0c;
    min-width: 80px;
  }

  .hero-image {
    border-radius: 30px;
    width: 335px;
    height: 336px;
    object-fit: cover;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
    gap: 11px;
  }

  .hero-text-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  .hero-title {
    font-size: 70px;
    margin-right: 125px;
  }

  .hero-text {
    font-size: 16px;
    margin-right: 220px;
    width: 480px;
  }

  .hero-scroll-container {
    width: 136px;
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: -310px;
    margin-bottom: 0;
  }

  .icon1-hero {
    left: 16px;
    right: 0;
  }

  .icon2-hero {
    left: 8px;
    right: 0;
  }

  .icon3-hero {
    right: 0;
  }

  .hero-scroll-down {
    font-size: 20px;
  }

  .hero-image {
    border-radius: 50px;
    width: 704px;
    height: 520px;
    margin-top: 40px;
  }

  .hero-icons {
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-image {
    border-radius: 50px;
    width: 1150px;
    height: 500px;
  }

  .hero-title {
    width: 597px;
    margin-right: 500px;
  }

  .hero-text {
    width: 480px;
    margin-right: 670px;
  }

  .hero-scroll-container {
  }

  .hero-scroll-down:hover {
    color: #3350e9;
  }
}
